# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Node
node_modules/
